
body {
    margin: 0;
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chatbox {
    background-color: #f2f2f2;
}

.chat-header {
    padding: 20px;
    box-shadow: inset 0 -1px 0 0 #dedede;
    font-size: 14px;
}
.chat-header i {
    color: #6441a5; /* Twitch purple */
    position: absolute;
}
.chat-header div {
    width: 100%;
    text-align: center;
}

#show {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
    overflow:auto;
    padding-left: 20px;
    padding-right: 20px;
}

.send_message {
    padding: 20px;
    padding-bottom: 30px;
}
.send_message i {
    font-size: 18px;
    margin-right: 15px;
    margin-top: 15px;
    color: #6441a5; /* Twitch purple */
}
.send_message input {
    width: 100%;
    padding: 10px;
    height: 50px;
}
.send_message button {
    background-color: #6441a5;
    float: right;
    margin-top: 15px;
    border: none;
    color: white;
    padding: 10px;
}


.message {
    word-wrap: break-word;
    width: 100%;
    text-align: left;
}

span.name {
    font-weight: 900;

}

span.message_content {

}

/* Exploder styles */
#chatbox.exploder {
    margin: 0 auto;
    width: 50%;
}
#show.exploder { 
    height: 70vh;
}

/* Color styles */
.red { color: red; }
.blue { color: blue; }
.orange { color: orange; }
.green { color: green; }
.black { color: black; }
.brown { color: brown; }